extends layout.pug
block hero
        .hero-body
            .container
                h1.title search-hotels-api
            p Search-Hotels-API: un ejercicio de node/express API
            p Esta API fue creada con el fin de implementarla en una aplicacion movil
                h2.subtitle Endpoints
            p Esta API esta compuesta por los siguientes endpoints:
                //- p getCities
                //-     p GET: /api/cities
                p getHotels
                    p GET: /api/hotels
                p getHotelId
                    p GET: /api/hotels/{id}