nav.navbar.is-primary
    .container
        .navbar-brand
            a.navbar-item
                img(src='http://icons.iconarchive.com/icons/google/noto-emoji-travel-places/256/42493-hotel-icon.png' width='40' height='50')
        .navbar-menu
            .navbar-end
                .navbar-item
                    span.icon.is-large
                        i.fas.fa-shopping-cart.fa-2x